:root {
  --first-color: #ffffff;
  --second-color: #00adee;
  --third-color: #f2f5ff;
  --fourth-color: #002855;
  --link-color: #91a3bb;
  --buttom-color: #004a9d;
  --background-color: #f0f2f5;
  --font: "Lato", sans-serif;
  --max-width: 1200px;
}
